
  <div class='opinions-page d-flex flex-column col-9 col-md-8 col-lg-9 h-100'>
    <div class='borderb-grey d-flex'>
      <a href=<%= opinions_path %> class='central-links d-flex p-4'>
        <span class='center-bold-txt'>Opinions</span>
      </a>
    </div>
    <div class='d-flex justify-content-center'>
      <%= form_opinion(@opinion) %>
    </div>
    <div class='d-flex justify-content-center'>
      <%= render 'opi_order', opinions: @opinions %>  
    </div>
  </div>
  <div class='right-tab borderl-grey col-3 col-md-4 col-lg-3'>    
    <div class='borderb-grey d-flex justify-content-center'>
      <div class='d-flex p-4 right-bold-txt color-light-grey'>
        <%= right_title %>
      </div>
    </div>
    <div class='d-flex justify-content-center flex-nowrap'>
      <%= render 'who_user', opinions: @users %>  
    </div>
  </div>
</div>
