<%= form_with(model: user, local: true) do |form| %>

  <%= form.label :full_name, 'Full Name *', :class => 'form-label' %>
  <%= form.text_field :full_name, :class => 'form-text', placeholder: 'Full name here...', autofocus: true %>
  <% user.errors.messages[:full_name].each do |message| %>
    <div class='error-sm'><%= message %></div>
  <% end %> 

  <%= form.label :photo, 'Photo (URL)', :class => 'form-label' %>
  <%= form.text_field :photo, :class => 'form-text', placeholder: 'URL here...'  %>
  <% user.errors.messages[:photo].each do |message| %>
    <div class='error-sm'><%= message %></div>
  <% end %> 


  <%= form.label :cover_image, 'Cover Image (URL)', :class => 'form-label' %>
  <%= form.text_field :cover_image, :class => 'form-text', placeholder: 'URL here...'  %>
  <% user.errors.messages[:cover_image].each do |message| %>
    <div class='error-sm'><%= message %></div>
  <% end %> 

  <div class='actions mt-4 justify-content-between d-flex'>
    <%= form.submit 'Update Account', :class => 'form-btn' %>
    <%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'form-btn' %>
  </div>

      
<% end %>
