<div class='bg-white w-75 border rounded-border p-3 my-4 color-light-grey'>
   <h2 class='text-blue-bold py-3 borderb-grey'>All <%= @user.full_name %> Opinions</h2>
   <div class='d-flex flex-column'>
     <% @opinions.each do |opi| %>
      <div class='d-flex my-2'>
        <%= user_photo(opi) %>
        <div class='d-flex flex-column w-100'>
          <div class='d-flex justify-content-between'>
            <span class='font-weight-bold text-dark'>
              <%= opi.user.username %>
            </span>
            <div class='mx-2'>
              <%= user_edit_destroy_retweet(opi) %>
            </div>
          </div>
          <span><%= opi.text %></span>
          <span class='copied-opi'><%= user_copied_info(opi) %></span>
        </div>
      </div>
     <% end %> 
   </div>
</div>