<div class='d-flex flex-column w-100'>
  <div class='d-flex justify-content-center align-items-center flex-column flex-md-row'>
    <% unless current_user.follows.include?(@user) || current_user == @user %>
      <%= link_to '+', follow_path(@user), :class => "textdec-none circle-link" %>
    <% end %>
    <%= profile_photo(@user) %>
    <% if current_user.follows.include?(@user) %>
      <%= link_to '-', following_path(user), method: :delete, :class => "textdec-none circle-link" %>
    <% end %>
  </div>
  <span class='align-self-center bold-name-right text-dark text-center mt-1'><%= @user.full_name %></span>
  <span class='align-self-center username text-center color-light-grey'>@<%= @user.username %></span>
  
  <div class='d-flex flex-column flex-md-row'>
    <div class='border flex-grow-1'>
      <span class='text-center d-block font-weight-bolder'><%= @user.opinions.count %></span>
      <span class='text-center d-block bold-flw color-light-grey'>Opinions</span>
    </div>
    <div class='border flex-grow-1'>
      <span class='text-center d-block font-weight-bolder'><%= @user.followers.count %></span>
      <span class='text-center d-block bold-flw color-light-grey'>Following</span>
    </div>
    <div class='border flex-grow-1'>
      <span class='text-center d-block font-weight-bolder'><%= @user.followeds.count %></span>
      <span class='text-center d-block bold-flw color-light-grey'>Followers</span>
    </div>
  </div>
</div>