<div class='d-flex flex-column w-100'>
  <div class='d-flex justify-content-center align-items-center flex-column flex-md-row'>
    <%= link_follow(current_user, @user) %>
    <%= profile_photo(@user) %>
    <%= link_unfollow(@user)%>
  </div>
  <span class='align-self-center bold-name-right text-dark text-center mt-1'><%= @user.full_name %></span>
  <span class='align-self-center username text-center color-light-grey'>@<%= @user.username %></span>
  
  <div class='d-flex flex-column flex-md-row'>
    <div class='border flex-grow-1'>
      <span class='text-center d-block font-weight-bolder'><%= @user.opinions.count %></span>
      <span class='text-center d-block bold-flw color-light-grey'>Opinions</span>
    </div>
    <div class='border flex-grow-1'>
      <span class='text-center d-block font-weight-bolder'><%= @user.followers.count %></span>
      <span class='text-center d-block bold-flw color-light-grey'>Following</span>
    </div>
    <div class='border flex-grow-1'>
      <span class='text-center d-block font-weight-bolder'><%= @user.followeds.count %></span>
      <span class='text-center d-block bold-flw color-light-grey'>Followers</span>
    </div>
  </div>
</div>