<% if current_user %>
  <div class='bg-left-bt-tab col-4 col-md-3'>
    <div class='d-flex flex-column'>
      <div class='d-flex bg-left-tab'>
        <img src='<%= current_user.photo %>' class='profile p-2' alt='<%= current_user.username %>'>
        <span class='align-self-center bold-name'><%= current_user.full_name %></span>
      </div>
      <div class='d-flex justify-content-between bg-left-tab'>
        <div class='w-50 border-dark-bl-1 py-2'>
          <span class='text-center d-block light-color'><%= current_user.followers.count %></span>
          <span class='text-center d-block bold-flw'>Following</span>
        </div>
        <div class='w-50 border-dark-bl-2 py-2'>
          <span class='text-center d-block light-color'><%= current_user.followeds.count %></span>
          <span class='text-center d-block bold-flw'>Followers</span>
        </div>
      </div>
      <div>
        <a href=<%= opinions_path %> class='d-block left-links d-flex p-4'>
          <i class='fa fa-ticket logo-left px-2' aria-hidden='true'></i>
          <span class='left-bold-txt'>home</span>
        </a>
        <a href='#' class='d-block left-links d-flex p-4'>
          <i class='fa fa-at logo-left px-2' aria-hidden='true'></i>
          <span class='left-bold-txt'>connect</span>
        </a>
        <a href='#' class='d-block left-links d-flex p-4'>
          <i class='fa fa-hashtag logo-left px-2' aria-hidden='true'></i>
          <span class='left-bold-txt'>discover</span>
        </a>
        <a href=<%= edit_user_path(current_user) %> class='d-block left-links d-flex p-4'>
          <i class='fa fa-user logo-left px-2' aria-hidden='true'></i>
          <span class='left-bold-txt'>profile</span>
        </a>
        <a href='#' class='d-block left-links d-flex p-4'>
          <i class='fa fa-pie-chart logo-left px-2' aria-hidden='true'></i>
          <span class='left-bold-txt'>statistics</span>
        </a>
      </div>
    </div>
  </div>
  <div class='col-8 col-md-9 d-flex flex-column'>
<% else %>
  <div class='col-12 d-flex flex-column'>
<% end %>