<!DOCTYPE html>
<html>
  <head>
    <title>CapTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class='container-fluid d-flex'>
      <div class='row w-100'>
        <div class='bg-left-tab col-4 col-md-3 col-lg-2'>
          <p> lorem ipsun </p>
          <p> info user</p>
          <p> name </p>
          <p> followers e tal </p>
        </div>
        <div class='col-8 col-md-9 col-lg-10 d-flex flex-column'>
          <header class='bg-top-tab d-flex justify-content-between'>
            <%= header_bar %>
          </header>
          <div class='bg-info'>
            <div> 
              <%= flash_info %> 
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
